[Install]
WantedBy=multi-user.target

[Unit]
Description=an weixin miniapp
After=syslog.target

[Service]
User=nutchbuilder
ExecStart=/var/sbwx/sbwx.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target