<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
  <head th:fragment="common_header(title,links, metas)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <meta name="_csrf" content="_csrf.token" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN .token -->
	<meta name="_csrf_header" content="_csrf.headerName" th:content="${_csrf.headerName}"/>
    
    <th:block th:replace="${metas}" />

    <title th:replace="${title}">Responsive Side Menu &ndash; Layout Examples &ndash; Pure</title>
    
    <link rel="stylesheet" href="../static/pure/pure-min.css" th:href="@{/static/pure/pure-min.css}">
    <!--[if lte IE 8]>
       <link rel="stylesheet" href="../static/css/main-old-ie.css" th:href="@{/static/css/main-old-ie.css}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/static/css/main.css}">
    <!--<![endif]-->
        <link rel="stylesheet" href="../static/css/mine.css" th:href="@{/static/css/mine.css}">
    <th:block th:replace="${links}" />
    </head>
  </body>
</html>