<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>

      <div id="main" th:fragment="login(pageTitle, pageDescription)">
        <div class="header">
            <h1 th:text="#{${pageTitle}}">Page Title</h1>
            <h2 th:text="#{${pageDescription}}">A subtitle for your page goes here</h2>
        </div>

        <div class="content">
            <aside class="error" th:if="${#fields.hasErrors('${loginAttemptForm.*}')}">
				<ul>
					<li th:each="err : ${#fields.errors('${loginAttemptForm.*}')[0]}" th:text="#{${err}}">Input is incorrect</li>
				</ul>
    		</aside>
			<form class="pure-form pure-form-aligned" action="#" th:action="@{''}" th:object="${loginAttemptForm}" method="post">
			        <fieldset>
			            <div class="pure-control-group">
			                <label for="name">Username</label>
			                <input id="name" type="text" placeholder="Username" th:field="*{username}">
			            </div>
			    
			            <div class="pure-control-group">
			                <label for="password">Password</label>
			                <input id="password" type="password" placeholder="Password" th:field="*{password}">
			            </div>
			    
			            <div class="pure-controls">
			                <label for="remember-me" class="pure-checkbox">
			                    <input id="remember-me" type="checkbox"> Remember me.
			                </label>
			    
			                <button type="submit" class="pure-button pure-button-primary">Submit</button>
			            </div>
			        </fieldset>
			    </form>
        </div>
    </div>
  </body>
</html>